@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --body-bg-color: #FAF7FD;
  --purple: #BB99DD;
  --focus: #7a6491;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

main{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--body-bg-color);
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px 8px;
  width: 90%;
  max-width: 400px;
  gap: 32px;
}
.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile .insta_username{
  color: var(--purple);
  font-weight: 400;
}
.links_container{
  width: 100%;
}
.links{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.links li {
  border: 1px solid var(--purple);
  border-radius: 4px;
  width: 85%;
  padding: 8px;
  text-align: center;
  cursor: pointer;
}
.links li a{
  color: var(--purple);
}
.links li:hover{
  background-color: var(--focus);
}
.perfil{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  outline: 4px solid var(--purple);
  margin-bottom: 8px;
}

.medias{
  display: flex;
  gap: 16px;
}

.social_media_container{
}
.medias li{
  transition-duration: 0.5s;
  cursor: pointer;
}
.medias li:hover{
  transform: scale(2);
  transition: all;
  transition-duration: 0.5s;
}